.app {
  background-color: green;
  width: 600px;
  height: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px 40px 40px 10px;
  box-shadow: 2px 9px 100px 11px rgba(0, 0, 0, 0.6),
    0px 12px 22px rgba(0, 0, 0, 0.2);
  padding: 30px;
}
.app::before {
  display: block;
  background-color: darkolivegreen;
  box-shadow: 2px 9px 100px 11px rgba(0, 0, 0, 0.1),
    0px 12px 22px rgba(0, 0, 0, 0.1);
  content: "";
  width: 612px;
  height: 15px;
  border-radius: 20px;
  position: relative;
  top: 50%;
  left: -37px;
}
