@import "tailwindcss";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/Users/sue/Documents/GitHub/notes/src/assets/Wooden-Natural-Floor-Decoration.jpg");
  background-color: black;
  background-size: cover;
}
