@import "tailwindcss";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./assets/wood-bg.svg");
  background-size: cover;
  background-position: center;
}
